<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>

  <body>
    <div style="width: 100%; min-height: 40vh">
      <p>Hey ,</p>
      <p>Congratulation's 🎉 . You're registered now.</p>
      <!-- <p>Please complete further step's in order to access the dashboard</p> -->
      <br />
      <p>Please click at the below link to verify:</p>
      <a href="<%= link %>"><%= link %></a>
      <br />
      <br />
      <p>Best Regards</p>
      <p>Search Vaccines Team</p>
      <img
        width="200"
        src="https://searchvaccines.com/images/logo.png"
        alt="img"
      />
    </div>
  </body>
</html>
